@use '../../styles/variables' as *;
.collapse{
    flex:1;
    .collapse__banner{
        display: flex;
        justify-content: space-between;
        background-color: $primary-color;
        color: $secundary-color;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        font-size: 24px;
        .collapse__banner__title{
            margin:0;
            font-weight: 700;
        }
        .collapse__banner__btn{
            font-size: 24px;
            padding: 0;
            color:$secundary-color;
            background-color: rgba(255,255,255,0);
            border:none;
        }
        }

    
    .collapse__content{
        list-style-type: none;
        background-color:#f6f6f6 ;
        margin: 0px;
        padding: 20px;
        border-radius: 5px;
        font-size: 18px;
    }
}