.collapse{
    .collapse__title{
        background-color: #FF6060;
        color: #ffff;
        display: flex;
        justify-content: space-between;
    }
    .collapse__content{
        background-color:#f6f6f6 ;
        margin: 0px;

    }
}