@use '../../styles/variables.scss' as *;
.error{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap:139px;
    align-items: center;
    color: $primary-color;
    .error__title{
        margin: 0;
        font-size: 288px;
        font-weight: 700;
    }
    .error__comment{
        margin:0;
        font-size: 36px;
        font-weight: 500;
    }
    .error__link{
        color:rgb(0,0,0);
        font-weight: 500;
    }

}